@font-face {
    font-family: 'CustomFont';
    src: url('asterumie.ttf') format('truetype'); 
}

.custom-font {
    font-family: 'CustomFont';
    white-space: pre-wrap; /* 공백을 유지하기 위해 white-space 속성을 설정 */
    font-size: 15pt;
    line-height: 150%    
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20 auto;
    padding: 20px;
    background-color: #b9cdf3;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}
h2{
    color: #3c5a41;
    text-align: center;
}

label {
    display: block;
    margin: 0 auto;
    
}

input[type="text"] {
    align-items: center;
    width: 0 auto;
    padding: 10px;
    border: 1px solid #fa7fbf;
    border-radius: 4px;
    text-align: center;
}

button {
    display: block;
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #b700ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}
}

p {
    margin: 20pt;
}