body {
    background-color: #ffffff;
    margin: 20px;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
}

.result{
    margin: 0 auto;
    padding: 0 20px;
    border: 2px solid #0056b3;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh; /* 화면 전체 높이 */
}

h1 {
    color: #333;
    text-align: center;
}

label {
    font-size: 20px;
    font-weight: bold;
    color: #b700ff;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #4d9f5a;
    border-radius: 4px;
    text-align: center;
}

button {
    display: block;
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #fa7fbf;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
}

@font-face {
    font-family: 'CustomFont';
    src: url('asterumie.ttf') format('truetype'); 
}

.custom-font {
    font-family: 'CustomFont';
    white-space: pre-wrap; /* 공백을 유지하기 위해 white-space 속성을 설정 */
    font-size: 15pt;
    line-height: 150%
}